
#header{
    @apply
    bg-white 
    px-2
    text-[1.07em]
    rounded-md
    py-1
    h-28
    sm:h-16
    ;

    .actions{
        li{
            @apply bg-yg-lightblue p-4
            rounded-md
            px-5
            sm:px-10
            my-1
            h-12
            mr-3
            cursor-pointer
            hover:bg-gray-100
         }
    }

    .profile{
        @extend .flex-center;
       >  ul{
         >   li{
                @apply 
                flex 
                items-center 
                flex-col 
                cursor-pointer
                text-[.8em];
            }
        }
    }

    .menu-icon{
        @apply 
        fill-yg-blue 
        h-6
        pr-0
        mr-0
        ;
        &.orange{
            @apply fill-yg-orange; 
        }
    }
}