

#sidebar{
    @apply 
    h-full 
    w-[300px]
    bg-white 
    p-2 
    rounded-lg
    flex 
    flex-col 
    items-center;
    .logo{
        @apply 
        w-36 
        mb-4
        object-contain;
    }
    .menu{
        flex:3;
        @apply
        w-full;
        li{
            @apply 
            flex  
            rounded-md
            items-center 
            mb-2
            py-3
            px-12
            cursor-pointer
            hover:bg-slate-100
            bg-yukgetir-lightblue;
            &.active{
                @apply border-l-8 border-yukgetir-blue ;
            }
            .menu-icon{
                @apply 
                fill-yukgetir-blue 
                h-5 mr-2;
            }
            p{
                @apply text-[.9em];
            }
        }
    }
    .footer{
        @apply
        w-full;
        li{
            @apply 
            flex 
            rounded-md
            items-center 
            py-2
            px-12
            cursor-pointer
            hover:bg-slate-100
            bg-yukgetir-lightblue;
            ;
            .menu-icon{
                @apply 
                fill-yukgetir-gray 
                h-5 mr-2;
            }
            p{
                @apply text-[.9em];
            }
        }
    }
}