

.auth{
    @apply w-full flex items-center justify-center h-screen md:h-auto xl:w-screen;
    .button{
        @apply cursor-pointer bg-yukgetir-blue mt-2 text-white p-3 w-full text-center rounded-md text-sm ;
    }

    input{
        @apply bg-white;
    }

    .success{
        input{
            @apply
            border
            border-green-600 
            text-green-500
            dark:bg-gray-700 dark:border-green-500 appearance-none dark:text-white dark:focus:border-green-500 
            focus:outline-none focus:ring-0 focus:border-green-600  
            ;
        }

        label{
            @apply 
            text-green-600
            dark:text-green-500
            ;
        }
    }

    .error{
        input{
            @apply
            border
            border-red-600 
            text-red-500
            dark:bg-gray-700 dark:border-red-500 appearance-none dark:text-white dark:focus:border-red-500 
            focus:outline-none focus:ring-0 focus:border-red-600  
            ;
        }

        label{
            @apply 
            text-red-600
            dark:text-red-500
            ;
        }
    }
}

#signin{}
#signup{}
#fogotten{}
#reset{}


.change-password{
    .input{
        @apply bg-white;
    }
}