@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primereact/resources/themes/lara-light-indigo/theme.css";  //theme
@import "primereact/resources/primereact.min.css";                  //core css
@import "primeicons/primeicons.css";                                //icons
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../../public/fonts/proxima/stylesheet.css";                                

html,
body {
  padding: 0;
  margin: 0;
  font-family: Proxima Nova Rg, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:$bg-color;
  overflow-x: hidden;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/** 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

***/

@layer components {
  .flex-center{
    @apply flex items-center justify-center;
  }
  
  .transitionable{
    @apply transition ease-in-out delay-500;
  }
}

 
input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}
.simplebar-scrollbar:before {
  background:rgb(200, 200, 200)!important;
}

::selection {
  color: white;
  background: $secondaryColor;
}



.p-fileupload .p-fileupload-choose {
  @apply text-left bg-white text-yg-orange border-yg-orange w-full #{!important};
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.p-component *, .ui-g, .ui-widget,.ui-widget-header,.ui-widget-content,.ui-widget-header .ui-widget-header,.ui-widget-content .ui-widget-content,.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button
{
font-size:.9rem!important;
}