$lightblue: #F6F8FB;
$originalColor: #0069B4;
$secondaryColor: #F39200;
$gray:#868A9A;
$green: #1DBF73;

$succesColor: $green;
$bg-color: $lightblue;


$text: 1.27rem;

$large-size: 1.27rem;
$medium-size: 1.1rem;
$small-size: .85rem;
